{% extends 'images/base.html' %}

{% block content %}
    {% for image in images %}
        <h3>
            <a href="{% url 'images:detail' image.id %}">{{ image.title }}</a>
        </h3>
        <p><small>{{ image.pub_date }}</small></p>
        <img src="{{ image.url }}" style="width: 150px;">
    {% endfor %} 

{% endblock content %}
